body {
  margin: 0;
}

.header {
  float: left;
  width: 100%;

  background-color: #333;
  color: #999;
  align-items: center;
}

.title {
  font-size: 3.2rem;
  font-family: "Yusei Magic", sans-serif;
}

.fa-book-dead {
  font-size: 4rem;
  float: left;
  width: 100%;
  margin-right: 10;
  margin-left: 10;
}
